body {
  font-family: 'Varela Round', sans-serif; }

h1 {
  background-color: #FF7100;
  color: white;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px; }

h5 {
  background-color: #FF7100;
  color: white;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  padding: 15px;
  text-align: center; }

.container {
  width: 100%;
  display: flex;
  color: white;
  margin: 0auto; }

aside {
  background-color: #A64A00;
  width: 35%;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px; }
  aside form {
    width: 100%;
    font-family: 'Varela Round', sans-serif; }

.users {
  padding-left: 15px; }

.messages {
  padding-right: 15px; }

section {
  background-color: #FFB173;
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  font-family: 'Varela Round', sans-serif; }
  section form {
    font-family: 'Varela Round', sans-serif;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px; }

input {
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  border-color: white;
  border-style: solid;
  border-radius: 5px; }

.userForm {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 16px; }
  .userForm button {
    border: 1px white solid; }

.messageform {
  padding-left: 5px; }

.inputMessage {
  width: 500px;
  height: 22px;
  margin-right: 10px;
  padding: 5px; }

.enterMessage {
  padding: 6px; }

li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 10px; }

.icons {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: flex-start;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px; }
  .icons li {
    margin-left: 10px; }
  .icons h6 {
    margin: 0; }

button {
  font-family: 'Varela Round', sans-serif;
  background-color: white;
  border-radius: 5px;
  color: grey;
  border: 2px solid white; }

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 300px; }
  section, aside {
    width: 100%; } }
