.container{
  width: 100%;
  display: flex;
  color:white;
  margin: 0auto;
}
aside{
  background-color: #443b62;
  margin: 0;
  padding: 0;
  width: 20%;
  color:white;
  form {
    display: flex;
    align-items: flex-end;
  }
}
section{
  background-color: #b8aaec;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: black;
  form {
    display: flex;
    align-items: flex-end;
  }
}

input{
  color:white;
  background-color: #CBC912;

.inputUser{
  width: 80px;
}
.inputMessage{
  width: 150px;
}
}
